h1{
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 4px lightblue;
    text-decoration: underline;
}
body{
    background-color:rgb(135, 131, 131);
}
h3{
    color:darkblue;
    text-decoration: underline;
}
  pre{ background-color: black;
    color: red;

}
li{
    color: black;
}
p{
    background-color: black;
    color: white;
}
