body{
    line-height: 2;
   
   }
 #id1{
    color: rgb(9, 9, 176);
 }
 .headtag{
    color:rgb(247, 9, 148);
 } 
 .tag{
    color: rgb(18, 118, 18);
 }
 #id2
 {
    color: rgb(225, 97, 50);
 } 
 #id3{
    color: rgb(243, 10, 10);
 
}
#id4{
    color: rgb(36, 36, 236);
}




