*{
    margin: 0px;
    padding: 0px;
}
header{
     background-color: rgb(0, 0, 0);
     backdrop-filter: blur(5px);
     height: 70px;
}
#sicon{
    margin-top: 15px;
}

/* on hover */
.dropdown{
    display: none;
    position:absolute;
    background-color: rgb(20, 19, 19);
    min-width: 110px;
    padding: 12px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
   
}
.dropdown a{
    text-decoration: none;
    color:whitesmoke
}
.dropdownlink:hover .dropdown{
    display:block;
}
.dropdown a:hover{
    border: solid 2px;
    border-radius: 5px;
    background-color: rgb(61, 61, 209);
    color: whitesmoke;
    box-shadow: 1px 15px 16px 0px rgb(36, 34, 34);
}

.searchbar{
    display: none;
}
.search:hover .searchbar{
    display: block;
    border: solid 2px;
    border-radius: 5px;

}
#navli:hover{
          color: whitesmoke;
          transform: scale3d(1.5,1.5,1.5);
}

/* carousel */

#posters{
     margin-top: 90px;
     /* z-index: 2;
     position:absolute; */
}
#title{
    margin-top: 5px;
}
#movies{
    margin-top: 30px;
    background-color: black;
}

#mimages{
    margin-top: 20px;
    background-color: black;
}

/* cards hover */
/* .card-body{
    display: none;
} */


/* #card1:hover .card-body{
    display: block;
    transform: scale3d(1,1,1);
    
   

} */
#cardinone{
     display: none;
    
}
#card1:hover #cardinone{
    display: block;
    
   
}
#cardintwo{
    display: none;
}
#card2:hover #cardintwo{
   display: block;
  
}

#cardinthree{
    display: none;
}
#card3:hover #cardinthree{
   display: block;
  
}

#cardinfour{
    display: none;
}
#card4:hover #cardinfour{
   display: block;
  
}

#cardinfive{
    display: none;
}
#card5:hover #cardinfive{
   display: block;
  
}



 






/* rent */

 .rent1{
    padding-left: 25px;
    position: relative;
    top:-10px;
    
 }
 .rent1 p{
    margin-left: 5px;
    font-size: 20px;
 }
 .rent{
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
 }
 /* buttons */
.row2{
    margin-top: 5px;

}
.row3{
    margin-top: 5px;
}
.row4{
    margin-top:5px
}
.rows{
    margin-left: 800px;
    margin-top: -400px;
}

.buttons p{
    margin-left: 200px;
    display: block;
    font-size: 20px;
   
    
}
#ptag1{
    margin-top: 200px;
    color:whitesmoke;
    font-size: 40px;
}
#ptag2{
    color: rgb(85, 83, 83);
}
.cartoon{
    display: flex;
    background-color: black;
    position: relative;
    z-index: -1;
   
}
.ptags{
    margin-top: 20px;
    margin-left: 300px;
    
}
#tag1{
    font-size: 50px;
    color: whitesmoke;
}
#tag2{
    font-size: 20px;
    color: antiquewhite;
}
.family{
    background-color: black;
    display: flex;
    margin-top: -145px;
    border-top: solid 2px rgb(0, 0, 0);
    height: 300px;
    
}
.friends{
    margin-left: 50px;
    margin-top: 10px;
}
.cimages{
    margin-left: 250px;
}
#fam1{
    font-size: 40px;
    color: whitesmoke;
}
#fam2{
    font-size: 20px;
    color: antiquewhite;
}
#car1{
    position: relative;
    left: 1px;
    z-index: 1;
    transform: skewX(1deg);
    transform: skewY(1deg);
}
#car3{
    position: relative;
    right: 15px;
    top: 12px;
    z-index: 1;
    transform: skewX(10deg);
    transform: skewY(10deg);
}
#card2{
    z-index: 1;
    position: relative;
}
.foot{
    background-color: rgb(31, 31, 31);
    text-align: center;
    margin-top: -30px;
   
}
address{
    color: whitesmoke;
}
.foot a{
    text-decoration: none;
    margin-right: 12px;
}
body{
    background-color: rgb(19, 18, 18);
}

 
 
 
 
 
 








